.footer {
  padding: 15px 0;
  max-width: 1440px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  background: linear-gradient(45deg, #777, #ddd);
  display: flex;
  justify-content: space-evenly;
}

.footer__svd-news {
  background: none;
  background-color: white;
}

.footer__text {
  margin: 0;
  color: #b6bcbf;
}

.footer__contact {
  height: 100%;
  display: flex;
  gap: 32px;
}

.footer__logo {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

.footer__link {
  font-style: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
  }
  .footer__contact {
    justify-content: center;
  }
}
